/*Global styles*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Corbel', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #c59d5f;
    --body-font-color: #515151;
}
html
{
    font-family: var(--body-font);
    font-size: 62.5%;
    color: var(--body-font-color);
    scroll-behavior: smooth;
}
body
{
    overflow-x: hidden;
}
section
{
    padding: 3.9rem 0;
    overflow: hidden;
}
img
{
    width: 100%;
    max-width: 100%;
}
a
{
    text-decoration: none;
}
p
{
    font-size: 1.6rem;
}
.container
{
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}















